<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Image Browser</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
  <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" type="text/css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link href="https://visual-essays.github.io/web-app/static/all.css" rel="stylesheet" />

  <style>
    [v-cloak] {display: none}
    * {box-sizing: border-box;}
    body {margin:12px; font-family: Roboto, sans-serif;}
    .name {margin-right:12px; cursor:pointer;}    
    .name:hover {font-weight:bold;}
    .breadCrumbs {display:flex; gap:12px;}
    .dir {padding:6px; border:1px solid #ccc; border-radius:6px; font-size:90%; margin-bottom:6px; margin-right:12px;}
    ve-image-grid {margin:24px 0;}
  </style>

</head>
<body>
  <div id="app" v-cloak>
    <div class="breadCrumbs">
      <a v-for="item, idx in breadCrumbs" :key="`breadCrumb-${idx}`" :href="item.href" v-html="item.label"></a>
    </div>
    <div v-if="dirs.length > 0">
      <span class="dir" v-for="dir, idx in dirs" :key="`dir-${idx}`">
        <a :href="`${baseUrl}/${dir}`" v-html="dir.split('/').pop()"></a>
      </span>
    </div>
    <ve-image-grid as-cards>
      <ul>
        <li v-for="manifest, idx in manifests" :key="`grid-${idx}`" v-html="manifest"></li>
      </ul>
    </ve-image-grid>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <!-- <script src="http://localhost:3333/build/visual-essays.esm.js" type="module"></script> -->
  <script src="https://unpkg.com/visual-essays/dist/visual-essays/visual-essays.esm.js" type="module"></script>

  <!-- This is used for deep linking of Single Page Apps when hosted with GitHub Pages -->
  <script type="text/javascript">
    (function(l) {
      if (l.search[1] === '/' ) {
        let decoded = l.search.slice(1).split('&').map(s => s.replace(/~and~/g, '&')).join('?')
        window.history.replaceState(null, null, l.pathname.slice(0, -1) + decoded + l.hash)
      }
    }(window.location))
  </script>

  <script type="module">
  
  const api = 'https://api.juncture-digital.org'
  const iiifServer = 'https://iiif.juncture-digital.org'

  const fileExtensions = new Set(['yaml','jpg','jpeg','jp2','png','tif','tiff'])
  const ignore = new Set(['iiif-props.yaml', 'iiif-props.template.yaml'])

  new Vue({
    el: '#app',
    data: () => ({
      baseUrl: '',
      acct: '',
      repo: '',
      path: '',
      dirs: [],
      manifests: [],
      viewerWindow: null
    }),
    computed: {
      root() {return this.acct && this.repo ? `${this.acct}/${this.repo}` + (this.path ? `/${this.path}` : '') : null},
      breadCrumbs() {
        let breadCrumbs = [{label: 'root', href: `${this.baseUrl}/${this.acct}/${this.repo}`}]
        let pathElems = this.path.split('/').filter(pe => pe)
        for (let i = 0; i < pathElems.length; i++) {
          breadCrumbs.push({label: pathElems[i] ,href: `${this.baseUrl}/${this.acct}/${this.repo}/${pathElems.slice(0,i+1).join('/')}`})
        }
        return breadCrumbs
      }
    },
    async created() {console.log('created')},
    async mounted() {
      console.log(location)
      let isGhp = location.hostname.indexOf('github.io') > 0
      let pathElems = location.pathname.split('/').filter(pe => pe)
      let acct, repo, path

      if (isGhp) {
        if (location.hostname === 'visual-essays.github.io' && pathElems.length > 0 && pathElems[0] === 'iiif-browser') {
          acct = pathElems.length > 1 ? pathElems[1] : null
          repo = pathElems.length > 2 ? pathElems[2] : null
          path = pathElems.length > 3 ? pathElems.slice(3).join('/') : ''
          this.baseUrl = `${location.origin}/${pathElems[0]}`
        } else {
          acct = location.hostname.split('.')[0]
          repo = pathElems.length > 0 ? pathElems[0] : null
          path = pathElems.length > 1 ? pathElems.slice(1).join('/') : ''
          this.baseUrl = `${location.origin}/${acct}`
        }
      } else {
        acct = pathElems.length > 0 ? pathElems[0] : null
        repo = pathElems.length > 1 ? pathElems[1] : null
        path = pathElems.length > 2 ? pathElems.slice(2).join('/') : ''
        this.baseUrl = location.origin
      }
      this.acct = acct
      this.repo = repo
      this.path = path
      console.log(`acct=${this.acct} repo=${this.repo} path=${this.path} baseUrl=${this.baseUrl} isGhp=${isGhp}`)
    },
    methods: {

      openManifestViewer(manifestUrl) {
        // if (this.viewerWindow) { this.viewerWindow.close() }
        let options = 'toolbar=yes,location=yes,left=0,top=0,width=1000,height=1000,scrollbars=yes,status=yes'
        this.viewerWindow = window.open(`https:iiif.juncture-digital.org/#${manifestUrl}`, '_blank', options)
      }

    },
    watch: {
      root: {
        async handler(root) {
          console.log('watch', root)
          await fetch(`${api}/dir/${this.root}/`).then(resp => resp.json())
          .then(items => {
            let manifests = new Set()
            let dirs = []
            items.forEach(item => {
              if (item.type === 'dir') {
                dirs.push(`${this.root}/${item.name}`)
              } else {
                if (!ignore.has(item.name)) {
                  let elems = item.name.split('.')
                  let name = elems.slice(0,-1).join('.')
                  let extension = elems.pop().toLowerCase()
                  if (fileExtensions.has(extension)) {                
                    manifests.add(`${iiifServer}/gh:${this.root}/${encodeURIComponent(name)}/manifest.json`)
                  }
                }
              }
            })
            this.dirs = dirs
            this.manifests = Array.from(manifests).sort()
          })     
        },
        immediate: false
      }
    }
  })
  Vue.config.productionTip = false
  Vue.config.devtools = true

  </script>
</body>
</html>
